// Text

$navcolor: #000000;
$navhovercolor: #363636;
$navbg: #ffffff;

// Sizing

$desktop-menu-width: 200px; // Setting this value higher will increase the spacing between items

$mobile-breakpoint: 800px; // Use this setting to change how soon the nav enters mobile mode